html,
body {
  height: 100%;
}

.titulo {
  padding: 5px;
  width: 600px;
  height: 250px;
  margin: 0 auto;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.video {
  width: 600px;
  height: 250px;
  margin: 0 auto;
  background-color: black;
  border-radius: 5px;
  color: white;
  padding: 0 10px;
  align-items: center;
  border-bottom: 3px solid;
  border-color: red;
}

h1 {
  color: black;
  padding: 5px;
  text-align: center;
}

.titulo svg {
  height: 50px;
  width: 50px;
  fill: red;
}

h2 {
  color: black;
  padding: 5px;
  position: relative;
}

.video button {
  position: relative;
}

.video svg {
  border: none;
  fill: white;
  height: 30px;
  width: 30px;
  position: relative;
  margin: 5px;
  margin-left: 8px;
}

.button:hover {
  background-color: black;
  opacity: 0.3;
}
